<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">User Name</label>
            <input type="text" id="user-name" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Enter Report Information</label>
            <input type="text" id="type" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
            <input type="text" id="description" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
            <input type="text" id="location" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
            <input type="text" id="city" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
            <input type="text" id="state" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <button id="submit-report" class="btn btn-primary float-right">Submit</button>
        </form>


        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">City Search</label>
            <input type="text" id="city-name" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <button id="search-city" class="btn btn-primary float-right">City Search</button>
        </form>
        <h3>Reports:</h3>
        <ul id="example-list" class="list-group">
          {{#each reports}}
          <li>Type: {{this.type}}</li>
          <li>Description: {{this.description}}</li>
          <li>Location: {{this.location}}</li>
          <hr>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>