<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="container backgroundColor">
          <h1>{{msg}}</h1>
          <p>Welcome to TrafficMon, the online traffic monitoring database!</p>
          <p>Here, Users can report and view reports on heavy traffic, accidents, road work, police radar units, and
            more!</p>
          <p>In order to submit a report, you must first create an account and login, but anyone can search and view
            reports, logged in or not!</p>
        </div>
      </div>

    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/new-user.js"></script>