<div class="container">
    <form class="clearfix mb-4 d-flex justify-content-center">
        <div class="form-group col-md-8 backgroundColor">
            <h2><label for="search-select">Select City or State</label></h2>
            <select class="form-control" id="search-select">
                <option>City</option>
                <option>State</option>
            </select>
            <div class="form-group clearfix justify-content-center mt-2">
                <h2><label for="search-input">Search:</label></h2>
                <input type="input" class="form-control" id="search-input" placeholder=" i.e. Arizona, New York City">
                <button type="submit" class="btn btn-primary float-right mt-2" id="search-btn">Search</button>
            </div>
    </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/search-land.js"></script>