<div class="container">
    <form>
        <div class="form-group">
            <label for="search-select">Search by City or State</label>
            <select class="form-control form-control-lg" id="search-select">
                <option>City</option>
                <option>State</option>
            </select>
        </div>
        <div class="form-group">
            <label for="search-input">Search:</label>
            <input type="input" class="form-control" id="search-input" placeholder="Arizona, New York City">
        </div>
        <button type="submit" class="btn btn-primary mb-2" id="search-btn">Search</button>
    </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/search-land.js"></script>